.dice {
  display: flex;
  background-color: #fffaf0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border: 1px solid #696969;
  justify-content: center;
  border-radius: 11px;
  color: #696969;
  font-size: 50px;
  font-weight: bold;
}
.dice:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

.dice.selected {
  background-color: #b4b3b3;
}

/* 
    base: #FFFAF0
    hover #F0F8FF
    selected: #D3D3D3



*/
